@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

:root {
  --todo-background: #252525;
  --todo-gray: #a2a2a2;
}

* {
  background-color: #141414;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
}

.project-name {
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

.todo-list {
  margin: 0 auto;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.todo-creator {
  color: var(--todo-gray);
  background-color: var(--todo-background);
  width: 500px;
  line-height: 50px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 50px;
  transition: max-height 0.5s ease-in-out;
}

.todo-creator * {
  background-color: var(--todo-background);
}

.todo-list label {
  margin-left: 2px;
}

.todo-list input {
  line-height: 50px;
  border-style: none;
  outline: none;
}

.todo-tag {
  padding-left: 80px;
}

.todo-priority {
  display: flex;
}

.todo-priority input {
  margin-left: 60px;
}

.todo-priority .high {
  accent-color: #f38ba8;
}

.todo-priority .mid {
  accent-color: #f9e2af;
}

.todo-priority .low {
  accent-color: var(--todo-gray);
}

.todo {
  color: var(--todo-gray);
  background-color: var(--todo-background);
  width: 500px;
  line-height: 50px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 50px;
  transition: max-height 0.5s ease-in-out;
}

.todo *:not(svg) {
  background-color: var(--todo-background);
}

.todo-title {
  display: flex;
  align-items: center;
  background-color: var(--todo-background);
  justify-content: start;
  gap: 10px;
}

.todo-checkbox {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--todo-gray);
  border-radius: 50%;
  cursor: pointer;
}

.todo-checkbox[checked = 'false'] {
  background-color: var(--todo-background);
}

.todo-checkbox[checked = 'true'] {
  background-color: var(--checkbox-background);
}

.todo-checkbox svg {
  background-color: transparent;
  pointer-events: none;
}

.todo-checkbox svg[checked = 'false'] {
  visibility: hidden;
}

.todo-checkbox svg[checked = 'true'] {
  visibility: visible;
}

.todo-name {
  background-color: var(--todo-background);
  font-weight: 400;
  display: inline-block;
  pointer-events: none;
}

.todo-name[checked = 'false'] {
  color: #ffffff;
}

.todo-name[checked = 'true'] {
  color: var(--todo-gray);
}
