@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

:root {
  --todo-background: #252525;
  --todo-gray: #a2a2a2;
  --left-bar-width: min(20%, 210px);
  --right-bar-width: min(30%, 320px);
  --calendar-side: min(250px, 22vw);
}

* {
  background-color: #141414;
  color: #e4e4e4;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.icon {
  transform: rotate(0);
  transition: 1s;
}

.icon.rotate {
  transform: rotate(360deg);
}

.greeting {
  margin: 40px 0 40px min(520px, 20%);
  transition: 0.6s;
}

.greeting div {
  font-weight: 700;
}

.date {
  margin: auto 10px;
  font-size: min(25px, 2vw);
  text-align: center;
}

.greet-message {
  font-size: min(35px, 3vw);
}

.gray {
  font-size: min(30px, 3vw);
  color: #909090;
}

.flex-row {
  display: flex;
  width: 690px;
  gap: 15px;
}

.left-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--left-bar-width);
  height: 100%;
  background-color: var(--todo-background);
}

.left-bar * {
  background-color: var(--todo-background);
}

.fastodo {
  margin: 15px 0 50px 10px;
}

.fastodo * {
  vertical-align: middle;
}

img {
  display: inline;
  width: min(25px, 3vw);
  margin-left: 5px;
}

.name {
  text-decoration: none;
  font-size: min(25px, 3vw);
  font-weight: 700;
}

.header {
  margin-left: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.lists {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.lists div {
  width: min(170px, 80%);
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  padding-left: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.lists input {
  width: min(140px, 80%);
  border-style: none;
  outline: none;
  pointer-events: none;
}

.lists .active {
  background-color: #f2c86b;
}

.lists .active input {
  background-color: #f2c86b;
  color: #141414;
  pointer-events: auto;
}

.fa-xmark {
  background-color: transparent;
}

.lists .fa-xmark {
  visibility: hidden;
  color: #141414;
}

.lists .active .fa-xmark {
  visibility: visible;
}

.list-creator {
  width: min(150px, 80%);
  height: 50px;
  margin: 0 auto;
  line-height: 20px;
  padding-left: 8px;
  border-radius: 8px;
  color: #a2a2a2;
  cursor: pointer;
}

.fa-plus {
  color: #a2a2a2;
}

.foot {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 10px;
  color: #a2a2a2;
}

.foot a {
  font-size: 10px;
  color: #a2a2a2;
}

.sort-list {
  margin-top: 15px;
  margin-left: 35px;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  height: calc(60% - var(--calendar-side));
  border-radius: 8px;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.sort-method-selector {
  background-color: var(--todo-background);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px 0;
  user-select: none;
}

.sort-method-selector i {
  font-size: 18px;
  background-color: var(--todo-background);
}

.sort-button {
  background-color: #505050;
  font-size: 70%;
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.show-all:hover {
  background-color: #f2c86b;
  color: #141414;
}

.todo-list {
  width: calc(90% - var(--left-bar-width) - var(--right-bar-width));
  margin-left: calc(5% + var(--left-bar-width));
  display: flex;
  flex-direction: column;
  align-items:stretch;
  gap: 15px;
  transition: 0.6s;
}

.todo-creator {
  color: var(--todo-gray);
  background-color: var(--todo-background);
  line-height: 50px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 50px;
  transition: max-height 0.5s ease-in-out;
}

.todo-creator * {
  background-color: var(--todo-background);
}

.todo-list label {
  margin-left: 2px;
}

.todo-list input {
  line-height: 50px;
  border-style: none;
  outline: none;
}

.todo-creator-date {
  margin-left: 20%;
}

.todo-creator-tag {
  width: 50%;
  padding-left: 20%;
}

.prefix {
  text-align: right;
}

.todo-tag {
  color: var(--todo-gray);
  width: 30%;
  font-size: 13px;
  text-align: right;
  pointer-events: none;
}

.todo-date {
  margin-left: 65px;
}

.todo-priority {
  display: flex;
  justify-content: space-between;
}

.todo-priority div {
  margin-left: 105px;
  cursor: pointer;
}

.todo-priority .high {
  accent-color: #f2c86b;
}

.todo-priority .mid {
  accent-color: #ffffda;
}

.todo-priority .low {
  accent-color: #a2a2a2;
}

.fa-trash-can {
  color: var(--todo-gray);
  transition: 0.3s;
}

.fa-trash-can:hover{
  color: #f2c86b;
}

.todo {
  color: var(--todo-gray);
  background-color: var(--todo-background);
  line-height: 50px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 50px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.todo *:not(svg) {
  background-color: var(--todo-background);
}

.todo-title {
  display: flex;
  align-items: center;
  background-color: var(--todo-background);
  justify-content: start;
  gap: 10px;
}

.todo-checkbox {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 1.5px solid var(--todo-gray);
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.todo-checkbox[checked = 'false'] {
  background-color: var(--todo-background);
}

.todo-checkbox[checked = 'true'] {
  background-color: var(--checkbox-background);
}

.todo-checkbox svg {
  background-color: transparent;
  pointer-events: none;
}

.todo-checkbox svg[checked = 'false'] {
  visibility: hidden;
}

.todo-checkbox svg[checked = 'true'] {
  visibility: visible;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column .display-date {
  height: 10px;
  margin-left: 2px;
  line-height: 10px;
  font-size: 10px;
}

.display-date[checked = 'false'] {
  color: #e4e4e4;
}

.display-date[checked = 'true'] {
  color: var(--todo-gray);
}

.todo-name {
  background-color: var(--todo-background);
  font-weight: 400;
  width: 400px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  pointer-events: none;
}

.todo-name[checked = 'false'] {
  color: #e4e4e4;
}

.todo-name[checked = 'true'] {
  color: var(--todo-gray);
}

.date-name {
  width: 63%;
}

.right-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--right-bar-width);
  padding-top: 20px;
  height: 100%;
  background-color: var(--todo-background);
  transition: 0.6s;
}

.right-bar .calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  width: var(--calendar-side);
  height: var(--calendar-side);
  margin: 20px auto 0px auto;
  border-radius: 12px;
  background-color: var(--todo-background);
}

.right-bar * {
  background-color: var(--todo-background);
}

.right-bar .calendar .day {
  font-weight: 700;
}

.right-bar .calendar div {
  height: min(2vw, 25px);
  width: min(2vw, 25px);
  line-height: min(2vw, 25px);
  font-size: 13px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.right-bar .calendar-nav {
  display: flex;
  gap: 20px;
  height: 40px;
  margin: 20px auto;
  justify-content: center;
}

.right-bar .calendar-nav > div {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.right-bar .calendar-nav .month {
  text-align: center;
}

.fa-caret-left, .fa-caret-right {
  cursor: pointer;
  line-height: 40px;
  font-size: 20px;
}

.show-all {
  background-color: #505050;
  width: 100px;
  height: 30px;
  margin: 0 auto 50px auto;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dim {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
  transition: 1s;
}

.mobile {
  display: none;
}

.mobile p {
  margin-top: 40%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.start {
  margin: 50px auto 5px auto;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: #f2c86b;
  color: #141414;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  * {
    background-color: #f4f4f4;
    color: #141414;
  }

  body * :not(.mobile, .mobile *) {
    display: none;
  }

  .left-bar, .right-bar {
    display: none;
  }

  .mobile {
    display: block;
  }
}
